################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Client/.vs/Client
/Client/obj/Debug
/.gitignore
